@use "sass:map";
@use "../../styles/globals/_variables.scss" as *;
@use "../../styles/globals/_mixins.scss" as *;

.tab-group {
    &__tabs {
        display: flex;
        position: relative;
        margin: 0 0 map.get($spacing, 4);

        &__tab {
            margin: 0 map.get($spacing, 6) 0 0;
            color: map.get($colors, subtext);
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: map.get($colors, white);
            }

            &--active {
                position: relative;
                color: map.get($colors, white);
            }
        }

        &__slider {
            content: "";
            background: map.get($colors, primary);
            position: absolute;
            bottom: -10px;
            height: 3px;
            border-radius: map.get($border-radius, full);
            transition: all 0.3s ease;
        }
    }

    &__content {
        &__container {
            transition: opacity 0.3s ease;

            &--hidden {
                @include visually_hidden;
            }
        }
    }
}
