@use "sass:map";
@use "../../../styles/globals/_variables.scss" as *;
@use "../../../styles/globals/_mixins.scss" as *;

.tab-group {
    &__tabs {
        display: flex;
        position: relative;
        margin: 0 0 map.get($spacing, 4);

        &__tab {
            @include header-style;
            margin: 0 map.get($spacing, 6) 0 0;
            cursor: pointer;

            &:focus-visible {
                outline: none;
                text-decoration: underline;
                text-underline-offset: spacing(2);
                text-decoration-thickness: 1px;
            }

            &:hover {
                font-weight: font-weight(semibold);
            }

            &--active {
                position: relative;
                font-weight: font-weight(semibold);
            }
        }

        &__slider {
            content: "";
            background: color(accent-500);
            position: absolute;
            bottom: -12px;
            height: 3px;
            border-radius: map.get($border-radius, full);
            transition: all 0.3s ease;
        }
    }

    &__content {
        &__container {
            transition: opacity 0.3s ease;
            overflow: auto;

            &--hidden {
                @include visually_hidden;
            }
        }
    }
}
