@use "sass:map";
@use "../../../../styles/globals/_variables.scss" as *;
@use "../../../../styles/globals/_mixins.scss" as *;

.priority-modal-priority {
    width: 70vw;
    height: 70vh;

    &__header {
        position: relative;

        &__back {
            @include link-style;
            position: absolute;
            top: 15%;
            transform: translate(-50%);
        }

        &__title {
            @include header-style;
            @include text-style(xxl, bolder);
            text-align: center;
        }
    }

    &__content {
        display: flex;
        gap: spacing(6);

        &__priorities {
            @include grid-auto-fill(400px);
            gap: spacing(4);
            flex: 1;
        }

        &__info {
            flex: 1;
        }
    }
}
